<div class="page-wrapper">
  <div class="container">
    <article>
      <div class="row">
        <div class="col-sm-12 col-lg-8">
          <h3>{{'about.header' | translate}}</h3>
          <p>{{'about.dummy' | translate}}</p>
        </div>
        <div class="col-lg-4">
          <img src="assets/images/about.jpg" alt="about" class="d-none d-lg-block">
        </div>
      </div>
    </article>
    <article>
      <div class="row">
        <div class="col-md-4">
          <img src="assets/images/vision.jpg" alt="vision" class="d-none d-lg-block">
        </div>
        <div class="col-sm-12 col-lg-8">
          <h3>{{'about.vision' | translate}}</h3>
          <p>{{'about.dummy' | translate}}</p>
        </div>
      </div>
    </article>
    <article>
      <div class="row">
        <div class="col-sm-12 col-lg-8">
          <h3>{{'about.mission' | translate}}</h3>
          <p>{{'about.dummy' | translate}}</p>
        </div>
        <div class="col-md-4">
          <img src="assets/images/mission.jpg" alt="mission" class="d-none d-lg-block">
        </div>
      </div>
    </article>
  </div>
</div>
