<div class="page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-12" *ngIf="!submitted">
        <h3 class="text-center">{{'contact.header' | translate}}</h3>
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>{{'contact.fullName' | translate}}</label>
            <input type="text" formControlName="fullName" class="form-control"
                   [class.has-error]="(contactForm.controls.fullName.touched || contactForm.controls.fullName.dirty)
                 && !contactForm.controls.fullName.valid"/>
            <div class="error-message" *ngIf="(contactForm.controls.fullName.touched || contactForm.controls.fullName.dirty)
          && !contactForm.controls.fullName.valid">
              <span class="message" *ngIf="contactForm.controls.fullName.errors?.required">
                {{'contact.nameRequired' | translate}}
              </span>
            </div>
          </div>
          <div class="form-group">
            <label>{{'contact.email' | translate}}</label>
            <input type="text" formControlName="email" class="form-control"
                   [class.has-error]="(contactForm.controls.email.touched || contactForm.controls.email.dirty)
                 && !contactForm.controls.fullName.valid"/>
            <div class="error-message" *ngIf="(contactForm.controls.email.touched || contactForm.controls.email.dirty)
          && !contactForm.controls.email.valid">
              <span class="message" *ngIf="contactForm.controls.email.errors?.required">
                {{'contact.emailRequired' | translate}}
              </span>
              <span class="message" *ngIf="!contactForm.controls.email.valid">
                {{'contact.emailNotValid' | translate}}
              </span>
            </div>
          </div>
          <div class="form-group">
            <label>{{'contact.subject' | translate}}</label>
            <input type="text" formControlName="subject" class="form-control"
                   [class.has-error]="(contactForm.controls.subject.touched || contactForm.controls.subject.dirty)
                 && !contactForm.controls.subject.valid"/>
            <div class="error-message" *ngIf="(contactForm.controls.subject.touched || contactForm.controls.subject.dirty)
          && !contactForm.controls.subject.valid">
              <span class="message" *ngIf="contactForm.controls.subject.errors?.required">
                {{'contact.subjectRequired' | translate}}
              </span>
            </div>
          </div>
          <div class="form-group">
            <label>{{'contact.message' | translate}}</label>
            <textarea formControlName="message" class="form-control" rows="5" cols="30"
                      [class.has-error]="(contactForm.controls.message.touched || contactForm.controls.message.dirty)
                 && !contactForm.controls.message.valid"></textarea>
            <div class="error-message" *ngIf="(contactForm.controls.message.touched || contactForm.controls.message.dirty)
          && !contactForm.controls.message.valid">
              <span class="message" *ngIf="contactForm.controls.message.errors?.required">
                {{'contact.messageRequired' | translate}}
              </span>
            </div>
          </div>
          <div class="form-group">
            <button class="btn send" type="submit" [disabled]="!contactForm.valid">{{'contact.send' | translate}}</button>
          </div>
        </form>
      </div>
      <div class="col-sm-12" *ngIf="submitted">
        <h3 class="text-center">{{'contact.sendMessage' | translate}}</h3>
      </div>
    </div>
  </div>
</div>
